<div class="page-header">
  <h3><%= @group.name %> - <%= @collection.name %></h3>
</div>

<div class='visible-xs visible-sm'>
  <p>Table of Contents</p>
  <div class="list-group">
    <% @lists.each do |list| %>
      <%= link_to list.name, "##{name_to_id(list.name)}", class: 'list-group-item' %>
    <% end %>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <% @lists.each_with_index do |list, index| %>
      <!-- keep 4 lists per row -->
      <% if index > 0 && index % 4 == 0 %>
        </div>
        <div class='row'>
      <% end %>

      <div id='<%= name_to_id(list.name) %>' class='panel panel-default col-md-3'>
          <div class='panel-heading list-header'>
            <div class="panel-title">
              <%= list.name %>
            </div>
          </div>
          <div class="panel-body">
            <p class='owner'>Owner: <%= list.user.name if list.user %></p>
            <p class='actions'><%= link_to 'Add Item', new_collection_list_item_path(@collection, list), class: 'btn btn-default' %> <%= link_to 'Edit List', edit_collection_list_path(@collection, list), class: 'btn btn-default' %></p>
            <dl>
              <% list.items.each do |item| %>
                <%= render partial: 'item_view', locals: {collection: @collection, list: list, item: item} %>
              <% end %>
            </dl>
            <div class='visible-xs visible-sm back-to-top'>
            <%= link_to ' Back to top', '#', class: 'fa fa-arrow-up' %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
