<h1>View Lists</h1>

<div class='container'>
  <div class='row'>
    <% @lists.each_with_index do |list, index| %>
      <!-- keep 4 lists per row -->
      <% if index > 0 && index % 4 == 0 %>
        </div>
        <div class='row'>
      <% end %>

      <div id='list_<%= index %>' class='span3 list'>
        <h3><%= list.name %></h3>
        <p>Owner: <%= list.user.name if list.user %></p>
        <p><%= link_to 'Add Item', new_list_item_path(list) %> | <%= link_to 'Edit List', edit_list_path(list) %></p>
        <% list.items.each do |item| %>
          <%= render partial: 'item_view', locals: {list: list, item: item} %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
