<%= form_for([@list, @item]) do |f| %>
  <% if @item.errors.any? %>
    <div class='error_explanation'>
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class='field'>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <% unless current_user == @list.user %>
    <div class='field'>
      <%= f.label :visible_to_owner, 'Visible to list owner?' %>
      <%= f.check_box :visible_to_owner %>
    </div>

    <div class='field'>
      <%= f.label :purchased, 'Purchased?' %>
      <%= f.check_box :purchased %>
    </div>

    <div class='field'>
      <%= f.label :purchased_by %>
      <%= f.text_field :purchased_by %>
    </div>
  <% end %>

  <div class='actions'>
    <%= f.submit class: 'btn' %>
  </div>
<% end %>
