<%= form_for([@collection, @list, @item], html: {class: 'form-horizontal'}) do |f| %>
  <fieldset>
    <legend>
      <% if params[:action] == 'new' %>
        New Item For <%= @list.name %>
      <% else %>
        Editing <%= @item.name %>
      <% end %>
    </legend>

    <% if @item.errors.any? %>
      <div class='error_explanation'>
        <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

        <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='control-group'>
      <%= f.label :name, class: 'control-label' %>
      <div class='controls'>
        <%= f.text_field :name %>
      </div>
    </div>

    <div class='control-group'>
      <%= f.label :description, class: 'control-label' %>
      <div class='controls'>
        <%= f.text_area :description %>
      </div>
    </div>

    <div class='control-group'>
      <label class='control-label'>Current Image</label>
      <div class='controls'>
        <%= image_tag @item.image.url(:medium) %>
      </div>
      <div class='controls'>
        <%= f.submit 'Remove Image', class: 'btn btn-danger remove-image-button', name: 'remove_image' %>
      </div>
    </div>

    <div class='control-group'>
      <%= f.label :image, 'New Image Url', class: 'control-label' %>
      <div class='controls'>
      <%= f.text_field :image, value: nil %>
      </div>
    </div>

    <% unless current_user == @list.user %>
      <div class='control-group'>
        <%= f.label :hidden_from_owner, 'Hide item from list owner', class: 'control-label' %>
        <div class='controls'>
          <%= f.check_box :hidden_from_owner %>
        </div>
      </div>

      <div class='control-group'>
        <%= f.label :purchased, 'Is the item purchased', class: 'control-label' %>
        <div class='controls'>
          <%= f.check_box :purchased %>
        </div>
      </div>

      <div class='control-group'>
        <%= f.label :purchased_by, 'Who purchased the item', class: 'control-label' %>
        <div class='controls'>
          <%= f.text_field :purchased_by %>
        </div>
      </div>

      <div class='item-comments'>
        <label class='control-label'>Comments</label>
        <div class='controls'>
          <dl>
            <% @item.item_comments.each do |comment| %>
              <% if !comment.private || (comment.private && comment.user == current_user) %>
                <dt><%= comment.user.name %><%= " (Private)" if comment.private %></dt>
                <dd><%= comment.comment %></dd>
              <% end %>
            <% end %>
          </dl>
          <button class='btn btn-primary' data-toggle='modal' data-target='#comment-modal'>Add New Comment</button>
        </div>
      </div>
    <% end %>

  <div class='form-actions'>
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Delete Item', collection_list_item_path(@collection, @list, @item), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger' unless @item.id.nil? %>
    <%= link_to 'Cancel', collection_lists_path(@collection), class: 'btn' %>
  </div>
<% end %>

<% unless current_user == @list.user %>
  <div class='modal fade' id='comment-modal' tabindex="-1" role='dialog' aria-labelledby="comment-modal-title" aria-hidden="true">
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="comment-modal-title">Add New Comment</h4>
        </div>
        <%= form_for(@item_comment, html: {class: 'form-horizontal'}) do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <div class="modal-body">

            <div class='control-group'>
              <%= f.label :comment, class: 'control-label' %>
              <div class='controls'>
                <%= f.text_area :comment %>
              </div>
            </div>

            <div class='control-group'>
              <%= f.label :private, 'Keep comment private to you?', class: 'control-label' %>
              <div class='controls'>
                <%= f.check_box :private %>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit 'Add Comment', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
