<!DOCTYPE html>
<html>
<head>
  <title>Christmas Lists</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
    <div class='navbar-inner'>
      <div clas='container'>
        <button type='button' class='btn btn-navbar' data-toggle='collapse' data-target='.nav-collapse'>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <%= link_to 'Christmas Lists', root_url, class: 'brand' %>
        <div class='nav-collapse collapse'>
          <ul class='nav'>
            <li class="divider-vertical"></li>
            <li>
              <%= link_to 'View Lists', root_url %>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <%= link_to 'New List', new_list_path %>
            </li>
            <li class="divider-vertical"></li>
          </ul>
          <ul class='nav pull-right'>
            <li class="divider-vertical"></li>
            <li>
              <p class='navbar-text'><i class='icon-check'></i> = Item purchased</p>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <p class='navbar-text'><i class='icon-exclamation-sign'></i> = Item hidden from owner</p>
            </li>
            <li class="divider-vertical"></li>
            <% if current_user %>
              <li>
                <%= link_to "Logout #{current_user.name}", logout_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class='container'>
    <%= render partial: "shared/flash_messages", flash: flash %> 
    <div class='row'>
      <%= yield %>
    </div>
  </div>
</body>
</html>
